body {
background: linear-gradient(270deg, #ff0000, #ffb900, #fffd00, #7aff00, #61ffad, #0adb8a, #00fff7, #0075ff, #0008ff, #8000ff, #b800ff, #fc00ff, #ff00ce, #ff0046);
background-size: 2800% 2800%;

    
-webkit-animation: DaAnimation 60s ease infinite;
-moz-animation: DaAnimation 60s ease infinite;
-o-animation: DaAnimation 60s ease infinite;
animation: DaAnimation 60s ease infinite;
}

div.wrapper#container{
    background: url("https://www.colourbox.com/preview/8423895-luxury-pattern-with-thin-elegant-lines.jpg") z-index="9999999" ;
    opacity: 0.5;
/*    width: 100%;
    height: 100% */
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;

}
video{
  opacity: 1;
}

@-webkit-keyframes DaAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes DaAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes DaAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes DaAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
    }


#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}
